# **LIVECODE 1**

Kamu adalah seorang data scientist yang bekerja di salah satu perusahaan manufaktur baterai Lithium ion. Tim produksi meminta kamu untuk mengecek apakah baterai yang mereka buat dalam kondisi bagus atau tidak. Sebelum melakukan pengecekan lebih lanjut, kamu diminta untuk menghitung hambatan/resistansi dan Daya setiap detik:

R=V/I

P=VI

- R adalah Kapasitas dalam satuan Ohm
- P adalah Daya dalam Watt
- I adalah kuat arus dalam satuan Ampere
- V adalah tegangan dalam satuan Volt

Dataset dapat diakses pada link berikut: https://github.com/fahmimnalfrzki/Dataset/blob/main/NMC1-9.xlsx?raw=true

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('https://github.com/fahmimnalfrzki/Dataset/blob/main/NMC1-9.xlsx?raw=true')
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

In [ ]:
df.isnull().sum()

time(s)        0
V_m            0
Current (A)    0
Cycle          0
Cap            0
dtype: int64

**Task 1**

Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan

In [ ]:
def hambatan_R(V, I):
  hasil = V / I
  return hasil

def daya_P(V, I):
  return V * I

In [ ]:
hambatan_R(4.098, 0.997)

4.110330992978937

In [ ]:
daya_P(4.098, 0.997)

4.085706

**Task 2**

Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).

In [ ]:
df.head(5)

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

In [ ]:
# how .enumerate work
for idx, cap in enumerate(df['Cap']):
  print(idx, cap)
  if idx == 5:
    break

0 2.8408166666665684
1 2.8408166666665684
2 2.8408166666665684
3 2.8408166666665684
4 2.8408166666665684
5 2.8408166666665684

In [ ]:
new_1 = []

for idx, cap in enumerate(df['Cap']):
  if cap >= 2.5:
    daya = daya_P(df.iloc[idx, 1], df.iloc[idx, 2])
    new_1.append(daya)
  else:
    hambatan = hambatan_R(df.iloc[idx, 1], df.iloc[idx, 2])
    new_1.append(hambatan)

In [ ]:
len(new_1)

90982

In [ ]:
df.shape

(90982, 5)

In [ ]:
df.head(2)

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817

In [ ]:
df['R/P'] = new_1
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap       R/P
0        0  4.098        0.997      1  2.840817  4.085706
1        1  4.096        0.998      1  2.840817  4.087808
2        2  4.094        0.999      1  2.840817  4.089906
3        3  4.093        0.998      1  2.840817  4.084814
4        4  4.092        0.999      1  2.840817  4.087908

In [ ]:
df[df['Cap']>=2.5].shape

(90982, 6)

In [ ]:
df[df['R/P'] == df['V_m'] * df['Current (A)']].shape

(90982, 6)

In [ ]:
# cara 2
new_2 = [daya_P(df.iloc[idx, 1], df.iloc[idx, 2]) if cap >= 2.5 else hambatan_R(df.iloc[idx, 1], df.iloc[idx, 2]) for idx, cap in enumerate(df['Cap'])]

df['R/P 2'] = new_2
df.head(3)

   time(s)    V_m  Current (A)  Cycle       Cap       R/P     R/P 2
0        0  4.098        0.997      1  2.840817  4.085706  4.085706
1        1  4.096        0.998      1  2.840817  4.087808  4.087808
2        2  4.094        0.999      1  2.840817  4.089906  4.089906

In [ ]:
df[df['R/P'] == df['R/P 2']].shape

(90982, 7)

In [ ]:
# cara 3 df.apply
def func(cap, v, i):
  if cap >= 2.5:
    return daya_P(v,i)
  else:
    return hambatan_R(v,i)

In [ ]:
df['R/P 3'] = df.apply(lambda row: func(row['Cap'], row['V_m'], row['Current (A)']), axis=1)

df

,time(s),V_m,Current (A),Cycle,Cap,R/P,R/P 2,R/P 3
0,0,4.098,0.997,1,2.840817,4.085706,4.085706,4.085706
1,1,4.096,0.998,1,2.840817,4.087808,4.087808,4.087808
2,2,4.094,0.999,1,2.840817,4.089906,4.089906,4.089906
3,3,4.093,0.998,1,2.840817,4.084814,4.084814,4.084814
4,4,4.092,0.999,1,2.840817,4.087908,4.087908,4.087908
...,...,...,...,...,...,...,...,...
90977,90977,2.506,1.002,9,2.770180,2.511012,2.511012,2.511012
90978,90978,2.504,1.002,9,2.770180,2.509008,2.509008,2.509008
90979,90979,2.502,1.002,9,2.770180,2.507004,2.507004,2.507004
90980,90980,2.500,1.002,9,2.770180,2.505000,2.505000,2.505000
90981,90981,2.497,1.002,9,2.770180,2.501994,2.501994,2.501994

In [ ]:
df[df['R/P'] == df['R/P 3']].shape

(90982, 8)

**Task 3**

Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

In [ ]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap       R/P     R/P 2     R/P 3
0        0  4.098        0.997      1  2.840817  4.085706  4.085706  4.085706
1        1  4.096        0.998      1  2.840817  4.087808  4.087808  4.087808
2        2  4.094        0.999      1  2.840817  4.089906  4.089906  4.089906
3        3  4.093        0.998      1  2.840817  4.084814  4.084814  4.084814
4        4  4.092        0.999      1  2.840817  4.087908  4.087908  4.087908

In [ ]:
# ganjil
# val % 2 != 0
# val % 2 == 1

In [ ]:
df[(df['Current (A)'] == 1) & (df['Cycle']%2 != 0)]['Cap'].mean()

2.8064845553925855

In [ ]:
df['Current_A'] = df['Current (A)'].copy()
df.head(2)

,time(s),V_m,Current (A),Cycle,Cap,R/P,R/P 2,R/P 3,Current_A
0,0,4.098,0.997,1,2.840817,4.085706,4.085706,4.085706,0.997
1,1,4.096,0.998,1,2.840817,4.087808,4.087808,4.087808,0.998

In [ ]:
# menggunakan df.query
df.query("`Current (A)` == 1 & Cycle % 2 != 0")['Cap'].mean()

2.8064845553925855