# DATA TYPES

In [ ]:
# text: str 
# numeric: int, float, complex
# sequence: list, tuple, range
# mapping: dict
# set: set, frozenset
# boolean: bool
# binary: bytes, bytearray, memoryview

# Integer

In [11]:
print(100)
print(type(100))

100
<class 'int'>

# Float

In [12]:
print(3.14)
print(type(3.14))

print(.2)
print(type(.2))

print(4.2e-3)
print(type(4.2e-3))

3.14
<class 'float'>
0.2
<class 'float'>
0.0042
<class 'float'>

# String

In [16]:
print('Hai')
print(type('Hai'))
print('this string contains a single quote (\') char.')
print('this string contains a double quote (\") char.')

Hai
<class 'str'>
this string contains a single quote (') char.
this string contains a double quote (") char.

# Boolean
objects of boolean type may have one of two values, True or Flase

In [18]:
print(100>200)
print(100==200)
print(100<200)

False
False
True

# Comment

In [12]:
# Mass comment: block -> ctrl + \
# multiline string ("""") can be used as multiline comment (???)

"""
this is 
a multiline
comment
"""
# /n = new line

# \ is an escape character. can be utilised like this:
print('I\'m learning something new everyday')

I'm learning something new everyday

# Random generator

In [14]:
# Pyhton has built-in module which can be used to generate random number

import random

print(random.randrange(1, 1000))

946

# Variable

In [20]:
# variable names can contain letters, numbers, and underscore
# variable names can't start with numbers
# variable names can start with any letter or underscore 
# is case sensitive

name = 'Naufal'
age = '11'
has_laptop = True 
print(name, age, has_laptop)

Naufal 11 True

In [21]:
# commonly used naming methods
myVariableName = 'Camel Case'
MyVariableName = 'Pascal'
my_variable_name = 'snake_case'

# Arithmetic Operators

In [22]:
a=4
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) # modulus
print(a**b) # power

7
1
12
1.3333333333333333
1
64

# Comparison Operators

In [23]:
a = 10
b = 20

print(a==b)
print(a!=b) # not equal to
print(a<=b)
print(a>=b)

False
True
True
False

# String manipulation

In [25]:
s = 'foo'
t = 'bar'

print(s+t)
print(s*4)

# case conversion
print(s.capitalize())
print(s.lower())
print(s.swapcase())

foobar
foofoofoofoo
Foo
foo
FOO

# List

In [1]:
# defined by square bracket []
# is ordered
# can be accessed by index (start from 0)
# can be nested
# mutable
# dynamic

a = ['sign', 'igni', 'yrden', 'quen', 'aard', 'axii']
a[2]=10
a[-1]=20
print(a)

['sign', 'igni', 10, 'quen', 'aard', 20]

In [2]:
a = ['sign', 'igni', 'yrden', 'quen', 'aard', 'axii']
print(a[1:4])

a[1:4]=[1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['igni', 'yrden', 'quen']
['sign', 1.1, 2.2, 3.3, 4.4, 5.5, 'aard', 'axii']

In [9]:
a = ['sign', 'igni', 'yrden', 'quen', 'aard', 'axii']
print(a[0:6:2]) #start, end, step

print(len(a)) # length of the list

['sign', 'yrden', 'aard']
6

# Tuples

In [4]:
# defined by parentheses ()
# immutable (unchangable)
# indexed

t = ('sign', 'igni', 'yrden', 'quen', 'aard', 'axii')
print(t)
print(t[0])
print(t[-1])

# packing unpacking
(s1, s2, s3, s4)=('sign', 'igni', 'yrden', 'quen')
print(s1)

('sign', 'igni', 'yrden', 'quen', 'aard', 'axii')
sign
axii
sign

# Dictionary

In [5]:
# comma-separated list of key-value pairs enclosed in curly braces {}
# colon : separates each key from its value
# mutable
# dynamic
# can be nested
# accessed by keys

DOTA_team = {
    'NA': 'EG',
    'SEA' : 'BOOM',
    'EEU' : 'TS',
}
print(DOTA_team['EEU'])

# add new entry
DOTA_team['WEU']='Liquid'
DOTA_team

TS

{'NA': 'EG', 'SEA': 'BOOM', 'EEU': 'TS', 'WEU': 'Liquid'}

In [6]:
# Building a Dict incrementally

person ={}
person['fname']='Hack'
person['lname']='8'
person['age']=51
person['spouse']='Yenn'
person['children']=['Raplh', 'Betty', 'Joey']
person['pets']={'dog':'Fido', 'cat':'Sox'}
print(person)
print(person['children'][1])

{'fname': 'Hack', 'lname': '8', 'age': 51, 'spouse': 'Yenn', 'children': ['Raplh', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}
Betty